<section class="bg-green-700 h-24 overflow-hidden p-3">

    
    <div class="m-2 float-left">
        <a href="" class="text-center text-5xl font-extrabold text-blue-400 hover:text-blue-600">
            Shifts
            <i class="fa fa-users" aria-hidden="true"></i>

        </a>

    </div>

    <div class="float-right">

            <button type="button" class="m-4 text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Log In
            </button>
            <button type="button" class="m-4 text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Sign Up
            </button>
            <button routerLink="about" type="button" class="m-4 text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                About
            </button>

    </div>

</section>